@import url('https://fonts.googleapis.com/css?family=Raleway');

.img {
    position: relative;
    width: 375px;
    height: 667px;

    /*background: url(proto.png);*/

    background: linear-gradient(180deg, rgba(236, 228, 214, 0.85) 0%, rgba(255, 255, 255, 0) 41.39%, rgba(46, 59, 79, 0.6545) 58.8%, rgba(44, 55, 74, 0.85) 86.54%), url(proto.png), linear-gradient(180deg, #E3DCD3 0%, #6582A3 100%);
    mix-blend-mode: darken;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo_text {
    /* Elessar */

    position: absolute;
    width: 214px;
    height: 75px;
    left: 80px;
    top: 85px;

    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 75px;

    color: #818180;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);

}

#radar {
    /* radar logo*/

position: absolute;
left: 292px;
right: 54px;
top: 80px;

background: rgba(255, 255, 255, 0.5) url(radar.png));

}

.button {
    position: absolute;
    width: 315px;
    height: 45px;
    left: 30px;
    top: 507px;

    background: #EE7531;
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;
}

.button:hover {
    background-color: rgb(223, 96, 23)
}

.button:active {
    background-color: rgb(223, 96, 23);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.button_text {
    position: absolute;
    width: 47px;
    height: 19px;
    left: 163px;
    top: 520px;

    font-family: SF Pro Text;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

$email_ {
    position: absolute;
    width: 116px;
    height: 19px;
    left: 74px;
    top: 388px;

    font-family: SF Pro Text;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    color: rgba(255, 255, 255, 0.9);
}

/* #logo_email {} */

#email_box {
    position: absolute;
    width: 271px;
    height: 30px;
    left: 74px;
    top: 388px;

    font-family: SF Pro Text;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    border: 0px transparent;
    border-radius: 3px;
    background: transparent;
    color: rgba(255, 255, 255) 0.9);
}

input[type=email] {
    background: transparent;
    color: rgba(255, 255, 255);
}

.email_boarder {
    position: absolute;
    width: 271px;
    height: 2px;
    left: 74px;
    top: 416px;

    background: #C4C4C4;
    opacity: 0.5;
}

#icon_email {
    /* icon email */

position: absolute;
left: 30px;
top: 392px;

background: rgba(255, 255, 255, 0.5) url(icon_contact.png));

}


#password_box {
    position: absolute;
    width: 73px;
    height: 19px;
    left: 74px;
    top: 433px;

    font-family: SF Pro Text;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    
    line-height: 19px;
    /* identical to box height */
    border: 0px transparent;
    border-radius: 3px;
    background: transparent;
    color: rgba(255, 255, 255) 0.9);
}

input[type=password] {
    background: transparent;
    color: rgba(255, 255, 255);
}

.password_boarder {
    position: absolute;
    width: 271px;
    height: 2px;
    left: 74px;
    top: 461px;

    font-family: SF Pro Text;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    border: 0px transparent;
    border-radius: 3px;
    background: transparent;
    background: #C4C4C4;
    opacity: 0.5;
    border-radius: 2px;
}

#icon_password {
    /* icon */

    position: absolute;
    left: 33px;
    right: 86.93%;
    top: 438px;
    bottom: 31.63%;

    background: rgba(255, 255, 255, 0.5) url(icon.png));


    /* Subtract */

    /* position: absolute;
    width: 16px;
    height: 12px;
    left: 33px;
    top: 444px;

    background: #DADADA; */


    /* Path */

    /* position: absolute;
    left: 8.8%;
    right: 86.93%;
    top: 66.57%;
    bottom: 31.63%; */



    /* Path */

    /* position: absolute;
    left: 9.33%;
    right: 87.47%;
    top: 66.87%;
    bottom: 31.93%; */



    /* Path */

    /* position: absolute;
    left: 9.6%;
    right: 87.73%;
    top: 65.37%;
    bottom: 33.28%; */



    /* Oval-path */

    /* position: absolute;
    left: 10.67%;
    right: 88.8%;
    top: 67.32%;
    bottom: 32.38%; */


}

#terms {
    /* Terms & Conditions */

    position: absolute;
    width: 130px;
    height: 17px;
    left: 122px;
    top: 615px;

    font-family: SF Pro Text;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    color: #FFFFFF;
}